@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-items-hover-color: #3b5378;

    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgba(0, 0, 0/ 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

::-webkit-scrollbar {
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(../img/email.jpg) no-repeat;
    /* background:i; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem+1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky {
    height: calc(2.5rem+1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    transition: 0.3s ease;
}

.nav-close-btn,
.nav-menu-btn {
    display: none;
}

.nav-bar .logo {
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    display: flex;
    align-items: center;
}

header .logo img{
    float: left;
    max-height: 55px;
    padding: 5px;
}

.navigation .nav-items a {
    /*  */
    position: relative;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.3s ease;
    /*  */
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

/* .navigation .nav-items a i {
     display: none; 
} */

.navigation .nav-items a:not(:last-child) {
    margin-right: 45px;
}

header .navigation .nav-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .nav-items a:hover:before {
    width: 100%;
}


.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-from {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info,
.contact-from {
    flex: 1;
}

.contact-from h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-from .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10%);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-from .text-box:first-child {
    margin-right: 15px;
}

.contact-from textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-from .send-btn {
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-from .send-btn:hover {
    background: #035797;
}

@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info,
    .contact-from {
        margin: 30px 50px;
    }

    .contact-from h2 {
        font-size: 30px;
    }

    .contact-from .text-box {
        width: 100%;
    }
    
    .nav-menu-btn {
        display: block;
        color: var(--white-color);
        font-size: 1.5em;
        cursor: pointer;
    }

    .nav-close-btn {
        display: block;
        color: var(--dark-color);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .navigation {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active {
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items {
        position: relative;
        background: var(--white-color);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .navigation .nav-items a {
        color: var(--dark-color);
        font-size: 1em;
        margin: 15px 50px;
        transition: 0.3s ease;
    }

    .navigation .nav-items a:hover {
        color: rgb(84, 254, 50);
    }

    .navigation .nav-items a i {
        display: inline-block;
        font-size: 1.3em;
        margin-right: 5px;
    }

}

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}
.alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px; 
}
.box {
	position: relative;
	width: 380px;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
    right: 2%;
}

.box::before {
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #2E94E3, #45f3ff);
	animation: animate 6s linear infinite;
}

.box::after {
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #ffffff, #45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

form {
	position: absolute;
	inset: 2px;
	background: #000000;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

h2 {
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.inputBox {
	position: relative;
	width: 300px;
	margin-top: 35px;
}

.inputBox input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #fafbff;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.inputBox span {
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #c6c6c6;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
	color: #ffffff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}

.inputBox i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 85%;
	height: 2px;
	background: #2E94E3;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
	height: 44px;
}

.links {
	display: flex;
	justify-content: space-between; 
}


.links a {
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}

.links a:hover,
.links a:nth-child(2) {
	color: #ffffff60;
}

input[type="submit"] {
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #2E94E3;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}

input[type="submit"]:hover {	
	background: #2e95e376;
}

input[type="submit"]:active {
	opacity: 0.8;
}
