* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #58A0E8;
}

#image{
    width: 100%;
    max-width: 350px;
    margin: 20px;
    border-radius: 5px;
    background: #fff;
}